<%-include("../layout/adminHeader.ejs")%>


    <main id="main" class="main">

        <h3><strong>Add Product</strong></h3>

        <form action="" method="post" class="mt-5" enctype="multipart/form-data">
            <div class="form-group">
                <label for="recipient-name1" class="col-form-label">Title</label>
                <input type="text" class="form-control" placeholder="Enter Product Name " name="title" id="recipient-name1" required="">
            </div>
            <div class="form-group">
                <label for="recipient-desc" class="col-form-label"><u>Description</u></label>
                <br><br>
                <div>
                    <label class="col-form-label">Size</label>
                    <input type="text" class="form-control" placeholder="Enter Size" name="size1" required="">
                    <input type="text" class="form-control" placeholder="Enter Size" name="size2">
                    <input type="text" class="form-control" placeholder="Enter Size" name="size3">
                    <input type="text" class="form-control" placeholder="Enter Size" name="size4">
                    <input type="text" class="form-control" placeholder="Enter Size" name="size5">
                    <input type="text" class="form-control" placeholder="Enter Size" name="size6">


                    <label class="col-form-label">Color</label>
                    <input type="text" class="form-control" placeholder="Enter color" name="color" required="">
                    <label class="col-form-label">Material</label>
                    <input type="text" class="form-control" placeholder="Enter material" name="material" required="">
                    <label class="col-form-label">Type</label>
                    <input type="text" class="form-control" placeholder="Enter material" name="type" required="">
                    <label class="col-form-label">Description</label>
                    <input type="text" class="form-control" placeholder="Enter description" name="description" required="">
                </div>
            </div>

            <div class="form-group">
                <label for="recipient-tags" class="col-form-label">Tags</label>
                <input type="text" class="form-control" placeholder="Enter Tag" name="tag1" id="recipient-tags" >
                <input type="text" class="form-control" placeholder="Enter Tag" name="tag2" id="recipient-tags" >
                <input type="text" class="form-control" placeholder="Enter Tag" name="tag3" id="recipient-tags" >
                <input type="text" class="form-control" placeholder="Enter Tag" name="tag4" id="recipient-tags" >
                <input type="text" class="form-control" placeholder="Enter Tag" name="tag5" id="recipient-tags" >
                <input type="text" class="form-control" placeholder="Enter Tag" name="tag6" id="recipient-tags" >
            </div>
            <div class="form-group">
                <label for="recipient-price" class="col-form-label">Actual Price</label>
                <input type="number" class="form-control" placeholder="Enter Price " name="actualPrice" id="recipient-price" required="">
            </div>
            <div class="form-group">
                <label for="recipient-discount" class="col-form-label">Discount</label>
                <input type="text" class="form-control" placeholder="Enter Discount" name="discount" id="recipient-discount" required="">
            </div>
            <div class="form-group">
                <label for="recipient-discount" class="col-form-label">Discounted Price</label>
                <input type="text" class="form-control" placeholder="Enter Discount" name="discountedPrice" id="recipient-discount" required="">
            </div>
            <div class="form-group">
                <label for="recipient-quantity" class="col-form-label">Quantity</label>
                <input type="number" class="form-control" placeholder="Enter Quantity " name="quantity" id="recipient-quantity" required="">
            </div>
            <div class="form-group">
                <label for="recipient-category" class="col-form-label">Category ID</label>
                <input type="text" class="form-control" placeholder="Enter Category ID" name="categoryid" id="recipient-category" required="">
            </div>

            <div class="form-group">
                <label for="recipient-image" class="col-form-label">Image</label>
                <input type="file" class="form-control" name="images" multiple id="recipient-image" required="">
            
            </div>
            <div style="display: flex;">
                <div class="form-group">
                    <input type="submit" class="btn btn-success mt-4" value="Add Product">
                </div>
                <div class="form-group ms-5">
                    <a href="product" class="btn btn-primary mt-4" style="width:100px">Cancel</a>
                </div>
            </div>
        </form>


        <div>
            <p>
                <span style="color: red;">
                    <%= message %>
                </span>
            </p>
        </div>


    </main>

    <%-include("../layout/adminFooter.ejs")%>