<%- include('../layout/homeheader.ejs') %>

    <div class="container">

        <form action="/addAddress" method="post" id="placeOrderForm" class="creditly-card-form shopf-sear-headinfo_form">

            <div class="row checkout-left mt-5">

                <div class="col-md-6 address_form">

                    <div class="information-wrapper">
                        <div class="first-row form-group">
                            <div class="controls">
                                <label class="control-label">Name: </label>
                                <input class="billing-address-name form-control" type="text" name="name"
                                    placeholder="Full name">
                            </div>
                            <div class="card_number_grids">
                                <div class="card_number_grid_left">
                                    <div class="controls">
                                        <label class="control-label">Mobile number:</label>
                                        <input class="form-control" name="mobile" type="number"
                                            placeholder="Mobile number">
                                    </div>
                                </div>
                                <div class="card_number_grid_right">
                                    <div class="controls">
                                        <label class="control-label">Building: </label>
                                        <input class="form-control" name="building" type="text" placeholder="Landmark">
                                    </div>
                                </div>
                                <div class="clear"> </div>
                            </div>
                            <div class="controls">
                                <label class="control-label">Town/City: </label>
                                <input class="form-control" type="text" name="city" placeholder="Town/City">
                            </div>
                            <div class="controls">
                                <label class="control-label">State: </label>
                                <input class="form-control" type="text" name="state" placeholder="Town/City">
                            </div>
                            <div class="controls">
                                <label class="control-label">Country: </label>
                                <input class="form-control" type="text" name="country" placeholder="Town/City">
                            </div>
                            <div class="controls">
                                <label class="control-label">Pb Number: </label>
                                <input class="form-control" type="number" name="pbNumber" placeholder="Town/City">
                            </div>
                            <div class="controls">
                                <label class="control-label">Address type: </label>
                                <select class="form-control option-fieldf" name="type">
                                    <option>Office</option>
                                    <option>Home</option>
                                    <option>Commercial</option>

                                </select>
                            </div>
                            <input type="hidden" name="userId" value="<%=id%>">
                        </div>
                        <button class="btn btn-info float-right" style="border-radius: 10px;">Add
                            Address</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
   
    <%- include('../layout/homefooter.ejs') %>